@using Microsoft.AspNetCore.Identity


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="d-flex">

            <a asp-controller="Cart" asp-action="Index" class="navbar-text ml-auto">
                00,0 руб <i class="fas fa-shopping-cart nav-color"></i> (0)
            </a>
            <div class="dropdown ml-4 nav-color">
                <div class="dropdown-toggle" id="dropdownMenuButton"
                     data-bs-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                    <img src="~/images/ava.jpg" width="30" alt="User"
                         class="rounded" />
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-item-text">
                        <img src="~/images/ava.jpg" width="50" alt="User"
                             class="rounded" />
                        @User.Identity.Name
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-controller="Cart" asp-action="Index">Мои товары</a>
                    <form asp-area="Identity"
                          asp-page="/Account/Logout"
                          asp-route-returnurl="@ViewContext.HttpContext.Request.Path">
                        <input type="submit"
                               value="Log off"
                               class="dropdown-item" />
                    </form>
                </div>
            </div>

        </div>
    }
    else
    {
        <ul class="nav navbar-nav ml-auto">
            <li>
                <a class="nav-item nav-link"
                   asp-area="Identity"
                   asp-page="/Account/Login">
                    [eq
                </a>
            </li>
            <li>
                <a class="nav-item nav-link"
                   asp-area="Identity"
                   asp-page="/Account/Register">
                    Зарегистрироваться
                </a>
            </li>
        </ul>
    }
</ul>
